@model   Testing.Domain.Entities.ExceptionDetail
@{
    ViewBag.Title = "ExceptionFillter";
    Layout = null;
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <main class="container">
            <label>@Model.ExceotionMessage</label><br />
            <label>@Model.ControllerName</label><br />
            <label>@Model.ActionName</label><br />
            <label>@Model.Date</label><br />
        </main>
    </body>
    </html>
