
@{
    Layout = null;
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.js" rel="stylesheet" />
    <link href="~/Scripts/Design/css/loginForm.css" rel="stylesheet" />
    <link href="~/Scripts/Design/css/form.css" rel="stylesheet" />
</head>
<body>
    <main>
        <div class="sidenav">
            <img class="rounded mx-auto d-block" src="~/Content/img/study_5.jpg" height="350" style="color: black" />
            <h2 class="text-center " style="color:white">Entrance</h2>
  
        </div>
        <div class="main">
            <div div class="col-md-5 col-sm-7" style="margin-left:50px;">
                <div class="login-form">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="input-group mb-4">
                            <h4>Use a local account to log in.</h4>
                            <hr />


                            <div class="form-label-group ">

                                <input id="username" class="form-control" maxlength="50" placeholder="Username..." name="username" required autofocus>
                                <label for="username">User name: </label>
                            </div>
                            <br />
                            <br />


                            <div class="form-label-group">
                                <input type="password" id="password" class="form-control" maxlength="50" placeholder="Password..." name="password" required />
                                <label for="password">Password: </label>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="btn btn-primary btn-block">
                                <input type="submit" value="Log in" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Register as a new user", "_Register")
                        </p>

                    }
                </div>
            </div>

        </div>
    </main>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/toastr.config.js"></script>
    
</body>
</html>
    





