
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    </head>
    <body>
       
        <main class="container">
            <div class="thumbnail">
                
                <h1>Hi, here you can block / unblock the user. Also add a new course and tests.</h1>


            </div>

        </main>
        <div style="height: 210px;"></div>
    </body>
    </html>

