@model Testing.Domain.Entities.Course

    <div class="thumbnail">
        <h3><strong>@Model.CourseName course</strong></h3>
        <h3>Complexity: @Model.Complexity</h3>
        <p><a class="pull-right btn" href="~/Course/DeleteDataCourse/@Model.CourseId">Delete</a></p>

    </div>
    <br />
